<h1>All Books</h1>

<div>
    <a href="/books/new"><button>Add New Book</button></a>
</div>

<%for book in @books%>
    <table>
        <tr>
            <th>Title:</th>
            <td><%=book.title%></td>
        </tr>
        <tr>
            <th>Author:</th>
            <td><a href="/authors/<%=book.author.id%>"><%=book.author.full_name%></a></td>
        </tr>
        <tr>
            <th>Genre:</th>
            <td><%=book.genre%></td>
        </tr>
        <tr>
            <th>Description:</th>
            <td><%=book.description%></td>
        </tr>
        <tr>
            <th>Quantity:</th>
            <td><%=book.quantity%>
                    <%if (book.quantity <= 5) && (book.quantity > 0)%>
                        <%="Low stock"%>
                    <%elsif (book.quantity == 0)%>
                        <%="Out of stock"%>
                    <%end%>
            </td>
        </tr>
        <tr>
            <th>Buying cost:</th>
            <td><%=book.buying_cost%></td>
        </tr>
        <tr>
            <th>Selling price:</th>
            <td><%=book.selling_price%></td>
        </tr>
        <tr>
            <th>Markup:</th>
            <td><%=book.markup%></td>
        </tr>
    </table>
    <div>
        <a href="/books/<%=book.id%>/edit"><button>Edit</button></a>
    </div>
    <div>
        <form method="post" action="/books/<%=book.id%>/delete"><input type="submit" value="Delete"></form>
    </div>
    <hr/>
<%end%>    