<h1>All Books</h1>

<%for book in @books%>
    <table>
        <tr>
            <th>Title:</th>
            <td><%=book.title%></td>
        </tr>
        <tr>
            <th>Author:</th>
            <td><%=book.author.full_name%></td>
        </tr>
        <tr>
            <th>Description:</th>
            <td><%=book.description%></td>
        </tr>
        <tr>
            <th>Quantity:</th>
            <td><%=book.quantity%>
                    <%if (book.quantity <= 5) && (book.quantity > 0)%>
                        <%="Low stock"%>
                    <%elsif (book.quantity == 0)%>
                        <%="Out of stock"%>
                    <%end%>
            </td>
        </tr>
        <tr>
            <th>Buying cost:</th>
            <td><%=book.buying_cost%></td>
        </tr>
        <tr>
            <th>Selling price:</th>
            <td><%=book.selling_price%></td>
        </tr>
    </table>
    <a href="/books/<%=book.id%>/delete"><button>Delete</button></a>
    <hr/>
<%end%>    