<h1><%=@book.title%></h1>

<table>
        <tr>
            <th>Author:</th>
            <td><%=@book.author.full_name%></td>
        </tr>
        <tr>
            <th>Description:</th>
            <td><%=@book.description%></td>
        </tr>
        <tr>
            <th>Genre:</th>
            <td><%=@book.genre.type%></td>
        </tr>
        <tr>
            <th>Quantity:</th>
            <td><%=@book.quantity%>
                    <%if (@book.quantity <= 5) && (@book.quantity > 0)%>
                        <span class="warning"><%="Low stock"%></span>
                    <%elsif (@book.quantity == 0)%>
                        <span class="warning"><%="Out of stock"%></span>
                    <%end%>
            </td>
        </tr>
        <tr>
            <th>Buying cost:</th>
            <td><%=@book.buying_cost%></td>
        </tr>
        <tr>
            <th>Selling price:</th>
            <td><%=@book.selling_price%></td>
        </tr>
        <tr>
            <th>Markup:</th>
            <td><%=@book.markup%></td>
        </tr>
</table>
<div>
    <a href="/books"><button>Back to Books</button></a>
</div>