<h1><%=@author.full_name%></h1>

<table>
        <tr>
            <th>Bio:</th>
            <td><%=@author.bio%></td>
        </tr>
        <tr>
            <th>Books:</th>
            <td><%for book in @author.books%>
                    <a href="/books/<%=book.id%>"><%=book.title%></a>
                    <br>
                <%end%></td>
        </tr>
        <tr>
            <th>Status:</th>
            <td><%=@author.status%></td>
        </tr>
</table>
<div>
    <a href="./<%=@author.id%>/edit"><button>Edit</button></a>
</div>
<%if (@author.books.length == 0)%>
    <div>
        <form method="post" action="/authors/<%=@author.id%>/delete"><input type="submit" value="Delete"></form>
    </div>
<%end%>